<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/homepage.css}" href="../static/homepage.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One&display=swap">

        <title>Wild Runners</title>

    </head>

    <body>
        <h1 class="title">C'est parti !!</h1>
        <div class="board">
            <div th:each="column : ${grid}">
                <div th:each="cell : ${column}" th:class="${cell.isObstacle()} ? 'cell obstacle' : 'cell'" th:text="${cell.name}"></div>
            </div>
        </div>

        <footer class="enter">
            <form action="/game" method="POST" class="">
                <input type="radio" id="up" name="move" value="up">
                <label for="up">Up</label>  
                <input type="radio" id="down" name="move" value="down">
                <label for="down">Down</label>
                <input type="radio" id="right" name="move" value="right">
                <label for="right">Right</label>
                <input type="submit" value="Move !">
            </form>
        </footer>

        <!--Cloud System -->
        <div id="background-wrap">
            <div class="x1">
                <div class="cloud"></div>
            </div>

            <div class="x2">
                <div class="cloud"></div>
            </div>

            <div class="x3">
                <div class="cloud"></div>
            </div>

            <div class="x4">
                <div class="cloud"></div>
            </div>

            <div class="x5">
                <div class="cloud"></div>
            </div>
        </div>
        <!-- End Cloud System -->

    </body>
</html>