<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/homepage.css}" href="../static/homepage.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Carter+One&display=swap">

        <title>Wild Runners</title>

    </head>

    <body>
        <h1 class="title">Let's Go !!!</h1>
        <section>
			<span class="carter"><strong th:text="${currentPlayer.name}">player 1</strong>,you can play :)</span>
		</section>
        <div class="board">
            <div th:each="column : ${grid}">
                <div th:each="cell : ${column}" th:class="${cell.isObstacle()} and ${cell.isDiscovered()} ? 'cell obstacle' : 'cell'" th:text="${cell.name}"></div>
            </div>
            <div th:class="|cell player player--x${currentPlayer.x} player--y${currentPlayer.y}|" class="cell player x1 y1"></div>
        </div>

        <div class="carter">Your dice rolled <strong th:text="${(dice)}"></strong></div>

        <footer class="keyboard">
            <form action="/game" method="POST" class="text-center">
                <button class="btn btn-sm animated-button thar-one" type="submit" name="move" value="up">Up</button><br>
                <button class="btn btn-sm animated-button thar-four" type="submit" name="move" value="left">Left</button>
                <button class="btn btn-sm animated-button thar-two" type="submit" name="move" value="down">Down</button>
                <button class="btn btn-sm animated-button thar-three" type="submit" name="move" value="right">Right</button>
                
            </form>
        </footer>

        <!--Cloud System -->
        <div id="background-wrap">
            <div class="x1">
                <div class="cloud"></div>
            </div>

            <div class="x2">
                <div class="cloud"></div>
            </div>

            <div class="x3">
                <div class="cloud"></div>
            </div>

            <div class="x4">
                <div class="cloud"></div>
            </div>

            <div class="x5">
                <div class="cloud"></div>
            </div>
        </div>
        <!-- End Cloud System -->

    </body>
</html>