<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <link rel="stylesheet" th:href="@{/homepage.css}" href="../static/homepage.css">

        <title>Star Runners</title>

    </head>
    <body>
        <div id="target">
            <div>
                <h1>Star Runners</h1>
                Dans Star Runners, le joueur incarne et contrôle un explorateur qui, 
                ayant volé le trésor d'un vaisseau de guerre intergalactique, 
                se retrouve confronté par des pièges démoniaques qui peuvent le tuer. 
                Comme il s'agit d'un jeu de course, 
                le jeu s'arrête si le joueur chute ou lorsque les pièges réussissent à le tuer.
                Pendant que le personnage est en train d'attendre, 
                le joueur peut lancer son dé vers la gauche ou vers la droite pour éviter des pièges.
                Il existe qu'un seul type de piège. Quand le joueur souhaite tourner à gauche ou à droite, 
                il lance son dé en cliquant dans la direction correspondante. 
                Afin d'avancer, il suffit de lancer son dé vers le haut, 
                pour avancer vers le haut et de lancer son dé vers le bas, pour avancer vers le bas .
                En juillet 2019 sort Star Runners, qui reprend le même principe de jeu de course, 
                sauf que l'explorateur peut tomber dans des pièges.                
                <a href="/game">Enter Game</a>
            </div>
        </div>
    </body>
</html>