<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       
        <link rel="stylesheet" th:href="@{/homepage.css}" href="../static/homepage.css">

        <title>Star Runners</title>

    </head>
    <body>
        <div id="stars-group-1"></div>
        <div id="target">
            <div>
                <h1>Star Runners</h1>
                Dans Star Runners, le joueur incarne et contrôle un explorateur qui 
                a volé le trésor d'un vaisseau de guerre intergalactique. <br/>
                Il se retrouve confronté a des pièges démoniaques qui peuvent le ralentir. 
                Comme il s'agit d'un jeu de course, 
                le joueur rebondi si il touche les pièges qui doivent le ralentir.
                Il peut lancer son dé vers la gauche ou vers la droite pour éviter des pièges.
                Quand le joueur souhaite tourner à gauche ou à droite, 
                il lance son dé en cliquant dans la direction correspondante.<br/><br/>
                <a href="/game">Commencer</a>
            </div>
        </div>
    </body>
</html>